<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<main>
		{{ range . }}
		<article style="border-top: 10px solid {{ .Color }}"
			class="{{- if .CurrentlyOpen -}} opened {{- else -}} closed {{- end -}}">
			<h1>{{ .Title }}</h1>
			<p>{{ .Description }}</p>
			<img src="femmuseum/gallery/{{ .Image }}" fetchpriority="high" decoding="sync">
		</article>
		{{ end }}
	</main>
</body>

</html>
